input, button {
    border-radius: 5px;
  }
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  button {
    padding: 10px;
    background-color: #2563eb;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1d4ed8;
  }
  